<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>AtlasBoard</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="stylesheets/normalize.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="stylesheets/log-viewer.css" type="text/css" media="screen" />

    <link rel="icon" type="image/png" href="images/favicon.png"/>

</head>
<body>

<div id="main">

  <div class="logcontainer left" id="server">
    <h1>Server</h1>
    <div class="toolbar_actions">
      <input class="pause" type="checkbox"> pause
      <button  class="clear">clear logs</button>
    </div>

    <div class="filter">
      filter: <input type="text" placeholder=" - use regex for dynamic filtering - " />
    </div>

    <div class="content"></div>
  </div>

  <div class="logcontainer right" id="client">
    <h1>Client</h1>
    <div class="toolbar_actions">
      <button  class="clear">clear logs</button> <input class="pause" type="checkbox"> pause
    </div>

    <div class="filter">
      filter: <input type="text" placeholder=" - use regex for dynamic filtering - " />
    </div>

    <div class="content"></div>
  </div>

</div>

<script src="build/vendor.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="javascripts/log-viewer.js"></script>
</body>
</html>
